$body_family: "Istok Web", serif;
$heading_family: "Montserrat", sans-serif;

$body_color: #212121;
$heading_color: #212121;
$secondary_color: #656D78;
$light_color: #fff;

$link: #4A89DC;
$link_hover: $body_color;

$select: $body_color;
$select_color: #fff;

$grey_light: #f5f7fA;
$grey_regular: #ccd1d9;
$grey_dark: #656d78;

$width: 1140px;   /* total with of page */
$columns: 12;    /* number of columns */
$col_margin: 30px;  /* margin between columns */

$gutter_width: 30px;
$line_height: $gutter_width;
$half_gutter: ($gutter_width/2);

$desktop-width	: 	$width;
$tablet-width	: 	970px;
$mobile-width	: 	750px;
$legacy-width	:	480px;
